
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 100px 20px;
  text-align: center;
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.grid-item {
  margin: 10px;
}
.grid-item img {
  object-fit: cover;
  border-radius: 10px;
  width: 350px;
  height: 300px;
}
.grid button {
  display: block;
  margin: auto;
  width: 25%;
  font-size: 18px;
  letter-spacing: 3px;
  padding: 30px 0px;
  border-radius: 50px;
}
