.logo {
  display: inline-block;
  font-size: .5em;
  line-height: 0.85;
}
.last-word {
  color: rgb(201, 33, 37);
  display: block;
  font-size: 2.5rem;
}

.signin.app, .signup.app, .signedout.app, .sushiknowledge.app {
  text-align: center;
  margin-top: 20vh;
}
.signin.app .logo, .signup.app .logo, .signedout.app .logo, .sushiknowledge.app .logo, .suggestions.app .logo {
  transform: scale(1.8);
  margin-bottom: 42px;

}
.suggestions.app > header {
    text-align: center;
    margin-top: 5vh;
}
.home {
  border-left: 2px solid;
  border-right: 2px solid;
  margin: 20px 40px;
  padding: 20px 40px;
}
.index.app {
  text-align: center;
  position: fixed;
  top: 43vh;
  right: 0;
  left: 0;
}
.index.app footer, .signin.app footer, .signup.app footer, .signedout.app footer {
  display: none;
}
.index:before {
  content: '';
  position: fixed;
  border: 3px solid rgb(0, 0, 0);
  width: 300px;
  height: 300px;
  box-shadow: 11px 13px rgb(205, 59, 59);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
