
header {
  font-family: 'Pragati Narrow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 38px;
}
button {
  border: 2px solid rgb(43, 44, 89);
  background-color: rgb(255,255,255);
  margin-top: 12px;
  margin-left: 9px;
  margin-right: 9px;
  padding: 10px 15px;
  border-radius: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  width: 117px;
}
button:hover {
  box-shadow: 2px 2px rgb(205, 59, 59);
}
button:focus, a:focus {
  outline: none;
}
.signin.app, .signup.app, .signedout.app {
  text-align: center;
  margin-top: 20vh;
}

.logo {
  display: inline-block;
  font-size: .5em;
  line-height: 0.85;
}
.last-word {
  color: rgb(201, 33, 37);
  display: block;
  font-size: 2.5rem;
}

.home {
  border-left: 2px solid;
  border-right: 2px solid;
  margin: 20px 40px;
  padding: 20px 40px;
}
.index.app {
  text-align: center;
  position: fixed;
  top: 43vh;
  right: 0;
  left: 0;
}
.index:before {
  content: '';
  position: fixed;
  border: 3px solid rgb(0, 0, 0);
  width: 300px;
  height: 300px;
  box-shadow: 11px 13px rgb(205, 59, 59);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
