details {
  text-align: center;
  margin: 0;
}
details summary::-webkit-details-marker {
  display: none;
}
.profile.app .logo {
  transform: scale(1.4);
}
.user-profile {
  display: flex;
  height: 100vh;
  width: 95%;
  margin: auto;
  background-color: rgb(250, 234, 181);
}
.user-info {
  text-align: center;
  margin: auto;
  font-size: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.user-info h2 {
  letter-spacing: 3px;
}
.left-column {
  position: relative;
  width: 50%;
  height: 100vh;
}
.right-column {
  width: 50%;
  height: 100vh;
  box-shadow: inset 1px -7px 7px 5px rgba(117, 113, 113, 0.16);
}
.suggested.drop-button, .favorited.drop-button {
  margin-bottom: 10px;
}
.suggested.drop-button summary, .favorited.drop-button summary {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
  text-align: left;
  line-height: 2;
}
.right-column {
  overflow: scroll;
  box-shadow: inset 1px 2px 7px 5px rgba(186, 186, 186, 0.24);
}
.drop-button {
  position: relative;
  color: rgb(43, 44, 89);
  padding: 16px;
  border-radius: 2px;
}
.dropdown-content {
  background-color: white;
  padding: 30px 0px;
  box-shadow: inset -3px 8px 8px rgba(0,0,0, .1);
}
.suggested .dropdown-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}
.dropdown-content a  {
  color: black;
}
.dropdown-content a ul {
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
}
.dropdown-content img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.text {
  line-height: 1.5;
  text-align: left;
  padding: 40px 100px;
  color: rgb(43, 44, 89);
  letter-spacing: 3px;
}
.text h2 {
  margin: 0;
}
.middle {
  text-align: center;
}
.middle button {
  margin-top: 25px;
}
#fact-dropdown {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 30px 10px;
  background-color: rgb(205, 59, 59);
  color: white;
}
#fact-dropdown h2 {
  font-size: 30px;
}
.fact-dropdown-content {
  display: block;
  color: white;
  padding: 24px 100px;
  height: 261px;
  background-color: rgba(254, 238, 194, 0.32);
  border-radius: 4px;
  margin: 21px 40px;
}
