.suggested {
    width: 25%;
}

.favorited {
  width: 25%;
}

.favorited {
  position: relative;
  display: inline-block;
}


.drop-button {
  background-color: rgb(254, 204, 73);
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.suggested {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content ul {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown-content ul:hover {
  background-color: #f1f1f1
}

.suggested:hover .dropdown-content {
  display: block;
}

.suggested:hover .drop-button {
  background-color: rgb(237, 104, 98);
}

.favorited:hover .dropdown-content {
  display: block;
}

.favorited:hover .drop-button {
  background-color: rgb(237, 104, 98);
}
