
footer {
  overflow: hidden;
  border: 2px solid red;
}

footer li{
  list-style-type: none;
  padding: 10px;
}

footer li:first-child {
  font-size: 18px;;
}

footer li:not(:first-child) {
  display: inline-block;
}

footer li:not(:first-child):hover {
  background-color: grey;
}
