
nav {
  overflow: hidden;
  background-color: rgb(193, 192, 197);
}

nav ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav li {
  float: right;
  list-style-type: none;
  display: inline-block;
  padding: 0;
  /*color: white;*/
}

nav li > * {
  padding: 15px 30px;
  display: inline-block;
}

nav a, nav a:visited {
  text-decoration: none;
  color: inherit;
}

nav li:first-child {
  float: left;
}

nav .sign-out:hover {
  background-color: grey;
  cursor: pointer;
}
